* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #0077b6;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.flash-card {
  width: 60rem;
  height: 20rem;
  background-color: #caf0f8;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 6rem;
  font-size: 8rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}

.flash-card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 3rem;
}

#answer {
  width: 6rem;
  text-align: center;
}

button.submit {
  font-size: 2rem;
}
